* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #C8C4B8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
  gap: clamp(20px, 5vw, 100px);
  overflow: auto;
}

.scene {
  font-size: clamp(8px, 1vw, 18px);
  width: 62.5em;
  height: 45em;
  perspective: 87.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-container{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.book-container.hidden{
  display: none;
}

.book{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.book.hidden{
  display: none;
}

.cover{
  position: absolute;
  background-color: #741F00;
  right: 0;
  height: 100%;
  width: 50%;
  box-shadow: 4px 4px 24px #000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #4e1801 3px dashed;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform-origin: left;
}

.cover.last-cover{
  z-index: -10;
}

.cover .front{
  display: flex;
  align-items: center;
  justify-content: center;
}

.face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
}

.front{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateZ(0.1px);
}

.back{
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover-title {
  font-family: 'Playfair Display', serif;
  font-size: 3.75em;
  color: #000;
  text-align: center;
  line-height: 1.2;
  z-index: 1;
}

.cover-title.hidden{
  display: none;
}

.img-cover{
  position: absolute;
  width: 75%;
}

.rings {
  position: absolute;
  left: calc(50% - 0.875em);
  width: 1.75em;
  height: 101%;
  background-color: #000;
  z-index: 1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  justify-content: flex-start;
  padding-top: 21px;
  gap: 18px;
}

.ring {
  width: 2.5em;
  height: 1.875em;
  border: 4px solid #dabe12;
  border-radius: 0 0 12px 12px;
  border-top: none;
  z-index: 3;
  transform: translateZ(2px);
}

button{
  background-color: #dabe12;
  border: none;
  padding: 0.9375em 4.375em;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-size: 1.125em;
  font-family: 'Playfair Display', serif;
}

button:hover{
  background-color: #e1c616;
  box-shadow: 4px 4px 4px #000;
}

.btn-open.hidden{
  display: none;
}

/*Pour les pages*/
.page{
  position: absolute;
  width: 47%;
  height: 97%;
  right: 1.4375em;
  background-color: #FFFCE5;
  border-radius: 15px;
  z-index: 5;
  padding: 1.5625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0.75em;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

.page.flipping-forward .front{
  pointer-events: none;
}

.page.hidden{
  display: none;
}

.connexion-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Pour la partie connexion*/
.connexion-title{
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  color: #000;
  text-align: center;
  line-height: 1.2;
  z-index: 1;
}

.connexion-subtitle{
  color: #8d8d8d;
  font-size: 20px;
  padding: 20px;
}

.connexion-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  text-align: center;
}

.connexion-part.div{
  display: flex;
  justify-content: center;
  align-content: center;

}

.connexion-part b{
  color: #dabe12;
}

.connexion-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.connexion-form input{
  border: none;
  padding: 7px;
  outline: none;
  border-radius: 20px;
  margin: 10px 0;
}

.connexion-form input::placeholder{
  color: #D1D1D1;
}

.connexion-form img{
  height: 40%;
  margin-bottom: -8px;
}

.connexion-form button{
  height:30px;
  width: 120px;
  font-size: 14px;
  padding : 0;
}

.informations-login{
  position: absolute;
  bottom: -20%;
  width: 100%;
  text-align: center;
}

.informations-login b{
  color: #dabe12;
}

.sport-right-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.season{
  margin-top: -1.5em;
}

/*Page de gauche sport*/
.sport-container{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sport-name-container {
  container-type: inline-size;
  height: 45%;
  width: 120%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin-top: -5em;
}

.sport-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: invert(1);
  transition: 0.3s;
  letter-spacing: 0.15em;
  padding-bottom: 18%;
}

.description{
  padding : 30px;
  justify-content: center;
  text-align: center;
}

.badge{
  width: 11em;
  height: 11em;
}

/*Page de droite*/
.sport-page{
  justify-content: space-evenly;
}

.game-not-done{
  color: #dabe12;
  font-weight: bold;
  padding: 20px;
}

.game-not-done.hidden{
  display: none;
}

.informations-container{
  position: relative;
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confidential{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.confidential.hidden{
  display:none;
}


.informations{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  transform: scale(0.8);
  width: 130%;
  text-align: center;
  filter: blur(4px);
}

.informations div{
  padding: 5px 5px 20px 5px;
}

.informations h4{
  font-family: 'Playfair Display', serif;
  color: #DABE12;
}

.club-link ul{
  list-style-position: inside;
}

.club-link a{
  color: #DABE12;
}

.material-benefits{
  display: flex;
}

.material-benefits div{
  padding-bottom : 0;
}

/*Spécifique escalade*/
.resume ul{
  gap: 1em;
  transform: scale(0.8);
  width: 120%;
  display: flex;
  list-style: none;
  margin-left: -3em;
}


.flipping-forward {
  transform: rotateY(-180deg);
}

.game-container.hidden{
  display: none;
}

.game-container{
  width: 100%;
  height: 100%;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5em;
}

.back-button{
  font-size: 12px;
  padding: 8px;
  margin: 20px 30px;
}

canvas {
  border-radius: 15px;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.instruction {
  position: absolute;
  color: #000;
  bottom: -5px;
  text-align: center;
  width: 100%;
}

